/* 共通設定 */
*{
box-sizing: border-box;
}
html, body, header, nav, article, section, time, footer, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, blockquote, table, th, td {
margin: 0;
padding: 0;

}
ul, ol {
list-style: none;
}
section{
  padding-top: 70px;
}
.container{
  padding-bottom: 30px;
}


/* ヘッダー */
nav{
  background-color: rgba( 204, 255, 204, 0.55 );
}
.navbar-nav{
  margin: 0 30px 0 0;
}
.header-right{
  justify-content: flex-end;
}


/* About */
#about{
  background-color: #EEEEEE;
}
.aboutPhoto{
  height: 500px;
}
.fa-envelope{
  height: 50px;
}

/* services */
#services{
  background-color: white;
}
#services i{
  padding-bottom: 30px;
}
#services h2{
  padding-bottom: 15px;
}

/* skills */
.one{
  padding-bottom: 30px;
}




/* portfolio */
#portfolio{
  background-color: white;
}
.maru{
	width: 200px;/*幅*/
	height: 200px;/*高さ*/
	border-radius: 50%;/*角丸*/

}


/* contact */
#contact{
	padding-top: 50px;
}
.mail{
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 40px 0;
}

.mail img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mail p{
  font-size: 20px;
  font-weight: 600;
}

.form{
  width: 90%;
  margin: 0 auto 25px auto;
  display: flex;
  flex-flow: column;
}

.form:last-child{
  margin-bottom: 0;
}

.contact label{
  text-align: left;
  font-size: 20px;
}

input, textarea{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cacaca;
  border-radius: 4px;
}

.submit, .button{
  width: 40%;
  cursor: pointer;
  margin: 0 auto;
}

.submit input, .button a{
  width: 100%;
  color: #fff;
  background-color: rgba(255, 0, 64, 0.7);
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.submit input:hover, .button a:hover{
  background-color: rgba(255, 0, 64, 1);
}

.button a{
  text-decoration: none;
}

.button a:hover{
  color: #fff;
  text-decoration: none;
}



/* footer */
footer{
  background-color: #333333;
}
footer p{
  color: white;
  padding: 30px 0 30px 0;

}
