/* 共通設定 */
*{
box-sizing: border-box;
}
html, body, header, nav, article, section, time, footer, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, blockquote, table, th, td {
margin: 0;
padding: 0;

}
ul, ol {
list-style: none;
}
section{
  padding-top: 70px;
}
.container{
  padding-bottom: 30px;
}

@font-face {
	font-family: 'MyFont';
	src: url(SmoothStone-Regular.ttf);
}


/* ヘッダー */
nav{
  background-color: rgba( 204, 255, 204, 0.55 );
}
.navbar-nav{
  margin: 0 30px 0 0;
}
.header-right{
  justify-content: flex-end;
}
.logo{
  font-family: MyFont;
}

/* About */
#about{
  background-color: #EEEEEE;
}
.aboutPhoto{
  height: 300px;
}
.fa-envelope{
  height: 50px;
}
.about-text{
  padding-top: 20px;
}
.fa-github{
  padding-left: 15px;
}
@media screen and (max-width:768px) {
  .aboutPhoto{
    height: 230px;
  }
}


/* services */
#services{
  background-color: white;
}
#services i{
  padding-bottom: 30px;
}
#services h2{
  padding-bottom: 15px;
}

/* skills */
.one{
  padding-bottom: 30px;
}
@media screen and (max-width:768px) {

}




/* portfolio */
#portfolio{
  background-color: white;
}
.mosya{
  font-size: 20px;
}
.port{
  width: 300px;
}
@media screen and (max-width:768px) {
  .img_portfolio{
    padding-bottom: 20px;
    text-align: center;
  }
  .port{
    width: 200px;
  }
}


/* contact */
#contact{
	padding-top: 50px;
}
.text-center{
  text-align: center;
}
.mailplease{
  text-align: center;
}
.mailplease{
  font-size: 20px;
}



/* footer */
footer{
  background-color: #333333;
}
footer p{
  color: white;
  padding: 30px 0 30px 0;
  margin-bottom: 0;

}
